body {
    margin: 10px auto;
    background-color: #FFF;
    padding: 10px 30px;
    border-radius: 5px;
}

@media (min-width: 700px) {
    body {
        width: 500px;
        border: 1px solid #ddd;
    }

}
.with-errors > ul > li {
    color: red;
}